<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pingpong"
    android:versionCode="0"
    android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18"/>

    <application
        android:label="Macroid Akka Ping-pong"
        android:icon="@drawable/android:star_big_on"
        android:theme="@android:style/Theme.Holo.Light">

        <activity
          android:label="Macroid Akka Ping-pong"
          android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>